/* Estilo para os links */
.navbar-nav li.nav-item a.nav-link {
  color: #fff; /* Cor do texto */
  font-weight: bold; /* Texto em negrito */
  text-transform: uppercase; /* Texto em maiúsculas */
  font-size: 16px; /* Tamanho da fonte */
}
/* Estilo para os botões no navbar */
.navbar-nav li.nav-item a.nav-link {
  color: #fff; /* Cor do texto */
  font-weight: bold; /* Texto em negrito */
  text-transform: uppercase; /* Texto em maiúsculas */
  font-size: 16px; /* Tamanho da fonte */
  border: 2px solid #a08820; /* Adiciona uma borda ao botão */
  padding: 10px 20px; /* Espaçamento interno dentro do botão */
  border-radius: 5px; /* Borda arredondada no botão */
}

/* Estilo para a caixa com hover */
.navbar-nav li.nav-item:hover a.nav-link {
  background-color: #a08820; /* Cor de fundo no hover */
  transition: background-color 0.3s ease; /* Transição suave de cor */
}

/* Aumentar o tamanho do logotipo */
.navbar-brand img {
  width: 200px; /* Ajuste o tamanho do logotipo conforme necessário */
  height: auto; /* Mantenha a proporção da imagem */
}

/* Estilo para os botões no navbar */
.navbar-nav li.nav-item a.nav-link {
  color: #fff; /* Cor do texto */
  font-weight: bold; /* Texto em negrito */
  text-transform: uppercase; /* Texto em maiúsculas */
  font-size: 16px; /* Tamanho da fonte */
  padding: 10px 20px; /* Espaçamento interno dentro do botão */
  border-radius: 5px; /* Borda arredondada no botão */
  border: 2px solid #a08820; /* Adiciona uma borda ao botão */
  transition: background-color 0.3s ease; /* Transição suave de cor */
}

/* Estilo para a caixa com hover */
.navbar-nav li.nav-item a.nav-link:hover {
  background-color: #a08820; /* Cor de fundo no hover */
}

/* Aumentar o tamanho do logotipo */
.navbar-brand img {
  width: 200px; /* Ajuste o tamanho do logotipo conforme necessário */
  height: auto; /* Mantenha a proporção da imagem */
}
/* Adicione espaço entre os botões no navbar */
.navbar-nav li.nav-item a.nav-link {
  color: #fff; /* Cor do texto */
  font-weight: bold; /* Texto em negrito */
  text-transform: uppercase; /* Texto em maiúsculas */
  font-size: 16px; /* Tamanho da fonte */
  padding: 10px 20px; /* Espaçamento interno dentro do botão */
  border-radius: 5px; /* Borda arredondada no botão */
  border: 2px solid #a08820; /* Adiciona uma borda ao botão */
  transition: background-color 0.3s ease; /* Transição suave de cor */
  margin-right: 10px; /* Adicione margem direita para espaço entre os botões */
}